@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    /*FONTS*/
    --FF : "Roboto", sans-serif;
    --FS : 16px;
    --FW-400: 400;
    --FW-700: 700;

    /*COLORS -PRIMARY*/
    --Red: hsl(4, 100%, 67%);

    /*COLORS -NEUTRAL*/
    --Blue-800: hsl(234, 29%, 20%);
    --Blue-700: hsl(235, 18%, 26%);
    --Grey: hsl(0, 0%,58%);
    --White: hsl(0, 0%, 100%);
}

body{
    font-family: var(--FF);
    font-size: var(--FS);
    font-weight: var(--FW-400);
    background-color: var(--White);
    display: flex;
    justify-content: center;
    align-items: center;
}

figure{
    margin: 0;
    padding: 0;
}

.hero-section{
    margin-bottom: 2rem;
    width: 100%;
    overflow: hidden;
}

.hero-section img{
    width: 100%; 
    height: auto; 
    object-fit: cover;
}

#mainContainer.hide{
    display: none;
}

.main-section{
    margin: 1rem;
    padding: 2rem;
}

.main-section h1{
    margin-bottom: 1rem;
    color: var(--Blue-800);
}
.main-section p{
    margin-bottom: 1.5rem;
}

.features-list{
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.features-list li{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 1rem;
}

.email-section{
    margin-top: 2rem;
}

.email-section label{
    display: block;
    font-size: 12px;
    margin-bottom: 1rem;
    font-weight: var(--FW-700);
}

.email-section input{
    width: 100%;
    padding: 15px;
    border: 1px solid black;
    border-radius: 7px;
    font-size: var(--FS);
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.email-section input:active{
    border: 1px solid var(--Red);
}

.submit-btn {
    width: 100%;
    padding: 15px;
    background-color: var(--Blue-800);
    color: var(--White);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: var(--FS);
    font-weight: var(--FW-700);
    transition: background-color  0.2s;
    white-space: nowrap;
}


.submit-btn:hover{
    background-color: var(--Red);
}

.submit-btn:active{
    background-color: var(--Red);
}

/*SUCCESS*/
.success-message{
    display: none;
    padding: 40px 20px;
}

.success-message.show{
    display: block !important;
}

.success-icon{
    margin: 0 auto 24px;
}

.success-heading{
    font-size: 30px;
    margin: 0 auto 1rem auto;
    color: var(--Blue-800);
}

.success-text{
    color: var(--Blue-700);    
}

.success-text #userEmail{
    font-weight: var(--FW-400);
    color: var(--Blue-800);
}

.dismiss-btn{
    width: 100%;
    padding: 14px 24px;
    background-color: var(--Blue-800);
    color: var(--White);
    border: none;
    border-radius: 8px;
    font-weight: var(--FW-700);
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10rem;
}

.dismiss-btn:hover{
    background-color: var(--Red);
}

.dismiss-btn:active{
    background-color: var(--Red);
}

.main-container.hide{
    display: none;
}

.label-container{
    position: relative;
    display: flex;
    justify-content: space-between;
}

.error-message{
    display: none;
    font-size: 12px;
    color: var(--Red);
    font-weight: var(--FW-700);
}

.error-message.show{
    display: block;
}

.email-input.error{
    border-color: var(--Red) ;
    background-color: hsl(2, 56%, 90%);
    color: var(--Red);
}

.email.label.error{
    color: var(--Red);
}

.email-input.error:focus{
    border-color: var(--Red);
    box-shadow: 0 0 0 3px rgb(255, 98, 87);
}


/*DESKTOP VIEW*/
@media (min-width: 768px) {
    body{
        background-color: var(--Blue-700);
        min-height: 100vh;
    }

    #mainContainer {
        display: flex;
        flex-direction: row-reverse;
        
        background-color: var(--White);
        width: 100%;
        height: auto ;
        max-width: 800px;
        border-radius: 20px;
        padding: 1rem;
    }

    .hero-section{
        flex: 1;
    }
    
    .main-section{
        flex: 1;
    }

    .hero-section img{
        content: url(images/illustration-sign-up-desktop.svg);
    }

    .success-message{
        width: 300px;
        background-color: var(--White);
        border-radius: 20px ;
        padding: 2rem;
    }

    .success-icon img{
        width: 40px;
    }

    .dismiss-btn{
        margin: 1rem auto;
        
    }
    

}
